@charset "UTF-8";
/****************************************************** RESET *****************************************/
* {
  margin: 0;
  padding: 0;
  border: 0; 
}

a {
    color: #337ab7;
    text-decoration: none;
}
a:hover {
    opacity: 0.7;
}
/************CONTEINER*********/
.Conteiner{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 75%;


}
/************LINHA COLORIDA*********/
.linhaColorida{
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
}



.orange{
  background-color: #f9a414;
  height: 4px;
  width: 25%;
  float: left;
}
@media (max-width: 970px){
.orange{
  background-color: #f9a414;
  height: 4px;
  width: 25%;
  float: left;
  
    
  }
}

@media (max-width: 480px){
.orange{
  background-color: #f9a414;
  height: 4px;
  width: 25%;
  
    
  }
}

.green{
  background-color: #6da633;
  height: 4px;
   width: 25%;
  float: left;
}
@media (max-width: 480px){
.green{
  
  height: 4px;
  width: 25%;
  
    
  }
}

.blue{
  background-color: #0095da;
  height: 4px;
   width: 25%;
  float: left;
}
@media (max-width: 480px){
.blue{
  
  height: 4px;
  width: 25%;
  
    
  }
}
.red{
  background-color: #e61c3d;
  height: 4px;
  width: 25%;
  float: left;
}
@media (max-width: 480px){
.red{
  height: 4px;
  width: 25%;
  }
}
.header{
    width: 94.7%;
    margin: 0px auto;
    padding-top: 15px;
}
/************PRIMEIRA LINHA DO HEARD*********/
.primeir-linha-heard{
  margin: 0px auto;
  padding-bottom: 30px;
}
.linha{
    margin-right: -15px;
    width: 100%;
    
}
/************BLOCO LOGO*********/

.logo{
  width: 15%;
  z-index:1;
  float: left;
}
@media (min-width: 520px){
.log{
  width: 100%;
  margin: 0px auto; 
  }
}
@media (max-width: 680px){
    .logo{
        width: 100%;
        margin: 0px auto; 
        display: block;
        margin-top: 10px;
        margin-left: 25%;
        margin-right: 25%;
        position: relative;
        min-height: 1px;
    }
}
.logo-box{
  border: 10px solid #ffffff;
  float: left;
  margin-top: -4px;
  box-shadow: 2px 4px 5px 0px 
}
.logo-box img{
  width: 145px;
    height: 86.61px;
    max-height: 100%;
}
/************BLOCO DOAÇAO*********/
.blo-doacao{
  float: left;
  margin-left: 25px;
  margin-top: 17px; 
}
@media (max-width: 680px){
    .blo-doacao{
        width:100%;
        margin: 0 auto;
        display:block;
        height: auto;
        margin-left: 18%;
        margin-right: 20%;      
    }
}
.botao-doacao{
  width: 91%;
  height: 30px;
  padding:10px;
}
.botao-doacao a{
  color: #ffffff;
  background-color: #e61c3d;
  height: 37px;
  text-decoration: none;
  padding-top: 4px; 
  padding-bottom: 1px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  width: 10%;
  margin-top: 10px;
}
@media(max-width: 680px){
    .blo-doacao{
      padding:10px;
        
    } 
}
@media(max-width:680px){
    .botao-doacao a{
     color: #ffffff;
     background-color: #e61c3d;
     height: 25px;
     text-decoration: none;
     /* padding-top: 4px; */
     padding-bottom: 1px;
     border-radius: 5px;

     text-align: center;
     font-weight: bold;
     width:40%;
     position: absolute;
     margin-top: 0px;
    }
}
/************BLOCO BUSCAR*********/
.blo-buscar{
  width: 16%;
  float: left;
  margin-top: 21px;
}
@media(max-width:680px){
    .blo-buscar{
        width: 100%;
        margin: 0 auto;
        margin-left: 18%;
        margin-right: 20%;  
    } 
}

.caixa-bucar{
  float: left;
  font-size: 15px;
  width: 100%;
}
@media(max-width:680px){
    .caixa-bucar .inputbuscar{
    font-family: Calibri,Arial,sans-serif;
    text-transform: uppercase;
    width: 60%;
    background-color: #efefec;
    color: #afafae;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 23px;
    }
}
.caixa-bucar form input{
  font-family: Calibri,Arial,sans-serif;
    text-transform: uppercase;
    width: 72%;
    background-color: #efefec;
    color: #afafae;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 23px;
}
@media(max-width:680px){
    
    .caixa-bucar .btn_ok{ 
     width: 37px;
    padding: 0px;
    height: 33px;
    background-color: #d1d1d0;
    color: #a1a1a1;
    margin-left: -12px
    }
}
.caixa-bucar .btn_ok{
    width: 37px;
    padding: 0px;
    height: 33px;
    background-color: #d1d1d0;
    color: #a1a1a1;
    margin-left: -12px
} 
.btn_ok:hover{
  background-color: #c3c3c2;
}
/************BLOCO LOGIN*********/
.blo-login{
  width: 32%;
  height: 10px;
  float: left;
  margin-left: 8px;
  margin-top: 18px;
}
@media(max-width:680px){
    .blo-login{
       width: 100%; 
       
    }
}

.area-adm{
  width: 30%;
  font-weight: 200;
  /* margin-top: 10px; */
  font-size: 14px;
  background-image: url(img/barra.png) no-repeat center left;
  color: #546771;
  float: left;
}
@media(max-width:680px){
    .area-adm.conteudo{
     margin-left: 40%;
     margin-right: 20%;
     
     width: 32%;
     margin-top: 0px;
     }
}
@media(max-width:680px){
    .conteudo{
    padding-left: 0 !important;
    float: left !important;
    margin-bottom: 30px !important;
    background: none;
     }
}
.area-adm.conteudo{
    margin-top: 8px;
    color: #546771;
    font-weight: bold;
 }
 
 .form-login{
    font-size: 15px;
    width: 59%;
    float: left;
 }
 @media(max-width:680px){
     .form-login{
         width: 100%;
         float: left;
         margin-left: 10%;
        margin-right: 20%;
     } 
 }


.form-login label {
    display: none;
  }
  .login-username {
    float: left;
    width: 30%; 
}
@media(max-width:680px){
    .login-username{
       width: 40%; 
    }
}
  .login-username input{
      
    font-family: Calibri,Arial,sans-serif;
    text-transform: uppercase;
    width: 67%;
    background-color: #d9d9d9;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 25px;
    text-align: left;
  }
  
  @media(max-width:680px){
    .login-username input{
     font-family: Calibri,Arial,sans-serif;
    text-transform: uppercase;
    width: 67%;
    background-color: #d9d9d9;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 25px;
    text-align: center;
    }
}
  @media(max-width:680px){
    .login-username input{
       text-align: left; 
    }
}
.login-password{
  float: left;
  margin-left: -9px;
  width: 32%;
}
@media(max-width:680px){
    .login-password{
        margin-left: -9px;
       width: 35%; 
    }
}
.login-password input{
    font-family: Calibri,Arial,sans-serif;
    text-transform: uppercase;
    width: 76%;
    background-color: #d9d9d9;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 6px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 25px;
    text-align: left;
  }
  
  .login-submit{
    margin-left: -1px;
    float: left;
    width: 27%;
  }
  @media(max-width:680px){
    .login-submit{
        margin-left: -9px;
       width: 18%; 
    }
}
   .login-submit input[type=submit]{
    background-color: #b8b8b8;
    color: #ffffff;
    height: 36px;
    margin-left: -10px;
    padding: 0px;
    text-align: center;
}
.login-submit input{
  font-family: Calibri,Arial,sans-serif;
    text-transform: uppercase;
    width: 74%;
    background-color: #d9d9d9;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    /* padding-left: 5px; */
    padding-top: 5px;
    padding-bottom: 5px;
    height: 36px;
    text-align: left;
}
 /************BLOCO REDES SOCIAIS*********/
 
.blo-redesSociais{
  margin-left: -69px;
  float: left;
  width: 21%;
  height: 15px;
  margin-top: 10px;
}
@media(max-width:680px){
    .blo-redesSociais{
        width: 100%;
        padding:  10px;
        margin-left: 18%;
        margin-right: 20%;  
    }
}
.Home_rede_sociais{
  margin-top: 5px;
  list-style: none;
  transition: all 0.4s ease-out;
}
.Home_rede_sociais li{
  width: 20%;
  height: 10px;
  float: left;
  margin-right: 2px;
}
@media(max-width:680px){
    .Home_rede_sociais li{
      width: 15%;  
    }
}
.efeito_Social{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.efeito_Social:active, .efeito_Social:focus, .efeito_Social:hover {
    -webkit-animation-name: efeito_Social;
    animation-name: efeito_Social;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.efeito_Social:hover{
  box-shadow: 0 0 1px rgba(0,0,0,0);
  animation-iteration-count: 1;
  cursor: pointer;
  transform: translateY(-5px);
  animation-duration: .5s;
  box-shadow: 2px 4px 5px 0px;
}


/*********************** MENU ***********************/

/* MENU */
/* MENU PRINCIPAL */
.Conteiner .p{
    width: 150%;
    position: relative;
    height: 40px;
    margin-top: 40px;
    position: inherit;
    background: #4c606b;
}
.Conteiner .conroleMenu{
 width: 100%;
    float: left;
    margin-top: -37px;
    position: initial;
    /* overflow-x: inherit; */
    border-left-color: red;
    border-left-color: green;
    border-left-style: solid;
    border-left-width: -50px; 
    z-index: 2;
    position: relative;
}
.barraMenu{
   width: 11%;
    float: left;
    height: 30px;
    z-index: 2;
}
.menuprincipal {
  
  width: 70%;
  float: left;
  background-color: #4c606b;
}
.menuprincipal {
    list-style-type: none;
    font-weight: bold;
    border: 1px solid #4c606b;
    
}
.menuprincipal li {
    
    float: left;
    padding-left: 10px;
    padding-right: 50px;
    
    height: 28px;
    
}

.menuprincipal li a {
    font-family: Tahoma;
    font-size: 11px;
    color:#FFFFFF;
    text-decoration: none;
    
}

.menuprincipal li ul {
    
    top: 28px;
    left: -20px;
    display: none;
}


.menuprincipal li:hover ul, .menu li ul li:hover ul, .menu lio.over ul, .menu li ul li.over ul {
    display: block;  
    
}
.menuprincipal li ul li {
    border:1px solid #4c606b;
    display: block;
    width: 150px;
    height: 25px;
    line-height: 25px;
}

/*********************** DADOS STATISTICO ***********************/




